{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-regenerator",
    "@babel/plugin-proposal-pipeline-operator",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "lib": "./src/lib",
          "components": "./src/components",
          "theme": "./src/theme"
        }
      }
    ]
  ]
}
