{
  "presets": ["env", "react"],
  "plugins": [
    "lodash",
    "transform-class-properties",
    "transform-regenerator",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "lib": "./src/lib",
          "components": "./src/components",
          "theme": "./src/theme",
          "assets": "./src/assets"
        }
      }
    ]
  ]
}
